<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>Garanti</h1>
                    <p>and a man named.. <br>Oded!</p>
                    <ul>
                        <% for(var i=0; i<5; i++){ %>
                            <li>ODED</li>
                            <% } %>
                    </ul>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>King Kunta.. Oded!</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>